.idea
node_modules/
app/config/parameters.yml
app/config/parameters.yml.dist
web/bundles/
web/assetic/

web/js/scripts
web/css/bundles

var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

web/app_dev.php

composer.lock